.content-min {
  margin: 15px 0;
}

.row p {
  font-weight: bold;
  text-decoration: underline;
}

.content-detail {
  font-size: 15px;
}

img {
  max-width: 120px;
}

.introduce {
  margin: 10px 0;
}

.company_name {
  font-weight: bold;
}

.profile-company {
  margin: 0 auto;
}

.location {
  float: left;
}
